@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f8f8f8;
  color: #1f2937;
  line-height: 1.6;
  overflow-x: hidden;
}

/* Tons alternados de branco para seções */
.bg-white-100 {
  background-color: #f8f8f8; /* Branco puro */
}

.bg-white-200 {
  background-color: #f3f3f3; /* Branco um pouco acinzentado */
}



/* Fade-in animation */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation-fill-mode: forwards;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0.3s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Slide-in from left */
.slide-in-left {
  opacity: 0;
  transform: translateX(-50px);
  animation-fill-mode: forwards;
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes slideInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Slide-in from right */
.slide-in-right {
  opacity: 0;
  transform: translateX(50px);
  animation-fill-mode: forwards;
  animation-name: slideInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes slideInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Button hover scale */
.btn:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}